@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Fira Sans";
    background-color: #F5F5F5;
}
#nav-container{
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    padding: 15px 60px;
    align-items: center;
}

#btn-signin{
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #009973;
    font-family: "Fira Sans";
    color: #006A50;
    font-weight: bold;
}
#btn-signin:hover{
    background-color: #53b49c;
}

nav{
    margin-bottom: 30px;
}


/* banner designing */

#banner{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}
#banner-container{
    display: flex;
    background-color: #C6E4D6;
    border: none;
    padding: 60px;
    border-radius: 24px;
    width: 70%;
}
.banner-content{
    width: 50%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
#banner-container > div{
    background-color: #C6E4D6;
}
#banner-img{
    background-color: #C6E4D6;
    width: 300px;
}
#banner-title{
    font-weight: 600;
    background-color: #C6E4D6;
    opacity: 30%;
}
#banner-h1{
    background-color: #C6E4D6;
    font-size: 37.5px;
}
.img-container{
    padding-left: 70px;
}
#btn-explore{
    width: 260px;
    background-color: #006A50;
    border-radius: 5px;
    padding: 10px 3px;
    border: none;
    color: white;
}
#btn-explore:hover{
    background-color: #10a580;
    width: 300px;
    height: 40px;
}
#vision-sect{
    width: 80%;
    display: flex;
    margin: 0 auto;
    gap: 30px;
    flex-direction: column;
    margin-bottom: 50px;
}
.vision-subtitle{
    color: #0E0E0E;
    opacity: 70%;
    font-size: 13.5px;
}
.vision-title{
    font-weight: bold;
    font-size: 34px;
    color: black;
}
.img-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.vision-img-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 190px;
    border: none;
    border-radius: 16px;
    
    background-color: #548ff550;
    gap: 15px;
}
.vision-img{
    width: 40px;
    background-color: #548ff500;
}
.vision-img-title{
    font-size: 16px;
    background-color: #548ff500;

}
.vision-img-desc{
    width: 90%;
    font-size: 12px;
    background-color: #548ff500;
    color: #0E0E0E;
    opacity: 70%;
    width: 330;
}
.btn-vision{
    width: 120px;
    color: white;
    background-color: #5490F5;
    border: none;
    border-radius: 7px;
    padding: 10px 10px;
}
#vision-2{
    background-color: #C6E4D6;
}
#vision-btn-2{
    background-color: #09A15C;
}
#vision-3{
    background-color: #F7EBCF;
}
#vision-btn-3{
    background-color: #FFC239;
}

#recent-news{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
#recent-news img{
    background-color: white;
    color: white;
}
.news-heading{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
}
.news-heading > p{
    font-size: 14px;
    color: #0E0E0E;
    opacity: 70%;
}
.news-container{
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    flex-direction: row;
    width: 80%;
    gap: 30px;
}
.news-content{
    background-color: white;
}
.news-content > div{
    background-color: white;
}
.news-content > .time{
    font-size: 14px;
    color: #2c2626b4;
    background-color: #ffffff;
}
.news-writing{
    opacity: 80%;
    background-color: #ffffff;
}
.news-img{
    border: none;
    border-radius: 24px;
    background-color: #ffffff00;;
}
.news-content h2{
   background-color: #ffffff;;
}
#news-2{
    flex-direction: row-reverse;
}
.news-btn{
    padding: 10px 10px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color:  #006A50;
    font-size: 12px
}
#donate-today{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 50px auto;
    gap: 30px;
}
#donate-today p{
    font-size: 15px;
    opacity: 70%;
    text-align: center;
}
.donate-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.taka-container button{
    font-weight: bold;
    font-size: 34.5px;
    padding: 30px;
    background-color: white;
    border-radius: 16px;
    border: 1px solid rgba(68, 68, 68, 0.253);
}
.taka-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}
#green-taka{
    background-color: #C6E4D6;
}
#green-taka:hover{
    background-color: #2d5f53c5;
}
#other-amount{
    width: 900px;
    padding: 15px;
    border: none;
    background-color: white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.274);
}
input[type="text"]::placeholder{
    text-align: center;
}

#donate-btn{
    padding: 10px 10px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color:  #006A50;
    font-size: 12px;
    width: 120px;
}
div > form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
#sub-newsletter{
    display: flex;
    justify-content: center;

}
#sub-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 24px;
    background-color: #C6E4D6;
    padding: 30px;
    gap: 30px;
    width: 80%;
    
}
#sub-container p{
    background-color: #C6E4D6;
}

#sub-container h1{
    background-color: #C6E4D6;
}
#sub-container p{
    font-size: 13px;
    opacity: 70%;
    width: 60%;
    margin: 0 auto;
}
#sub-container form{
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: center;
    background-color: #C6E4D6;

}
#email-inp{
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    width: 70%;
}
#email-inp::placeholder{
    text-align: left;
}
#subscribe-btn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 10px;
}

.taka-container > button:hover{
    background-color: #2a6d5ccc;
}

.news-btn:hover{
    background-color: #2d9b7f;

}
#donate-btn:hover{
    background-color: #4a917fc5;
}
.btn-vision:hover{
    opacity: 30%;
    font: white;
}
#quote-sect{
    display: flex;
    flex-direction: column;
    text-align: left;

}
#quote-container{
    display: flex;
    align-items: left;
    flex-direction: column;
    width: 80%;
    margin: 0 auto 30px;
    padding: 20px;
    background-color: white;
    border-radius: 24px;
    border: 1px solid rgba(148, 148, 148, 0.301);
    justify-content: center;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left;

}
#quote-container #quote-p1{
    font-size: 13px;
    opacity: 70%;
    margin-bottom: 12px;
    background-color: rgba(255, 255, 255, 0);
}
#quote-container #quote-p2{
    font-size: 15px;
    opacity: 70%;
    margin-top: 4px;
    background-color: rgba(255, 255, 255, 0);
}
#quote-container h4{
    background-color: rgba(255, 255, 255, 0);
}